doctype html
html
  head
    title Sacred Text
    == bootstrap_assets

body
  == slim :navbar

  .container
    h1 Bible API

    p The API for accessing Bible passages tried to keep close to that of the
      <a href="http://labs.bible.org/api_web_service">NET Bible Web Service.</a>
    p An individual Bible verse is identified uniquely by the verse number,
      chapter number, and book. 
      <pre>
      {
        "name": "Bible Verse",
        "properties": {
          "bookname": {
            "type": "string",
            "description": "Book of the Bible",
            "required": true
          },
          "chapter": {
            "type": "number",
            "description": "Chapter in the book",
            "required": true
          },
          "verse": {
            "type": "number",
            "description: "Verse in the chapter",
            "required": true
          },
            "text": {
            "type": "string",
            "description: "Verse text",
            "required": true
          }
        }
      }
      </pre>
      For example:
      <pre>
      {
        "bookname": "Genesis",
        "chapter": 1,
        "verse": 1,
        "text" : "In the beginning, God created the heavens and the earth."
      }
      </pre>
